<div class="footer">
    <div class="">
        <div class="pt-3">
            <div class=" flex-center">
            </div>
        </div>
    </div>
    <div class="footer-copyright text-center">
        © 2021 Copyright:
        <a href="/"> green-care.info</a>
    </div>
</div>
