<header class="header"></header>
<div class="bar">
    <div class="bar__content u-centered">
        <!-- <a class="bar__logo" href="/">GreenCare</a> -->
        <a class="" href="/">GreenCare</a>
        <input type="checkbox" id="inpNavToggle">
        <label class="bar__nav-toggle" for="inpNavToggle">
            <i  class="material-icons">menu</i>
        </label>
        <nav class="nav">
            <a class="nav__link" href="/bundles">Bundles</a>
            <a class="nav__link" href="/dashboard">Dashboard</a>
        </nav>
    </div>
</div>
</header>