<header class="header"></header>
<div class="bar">
    <div class="bar__content u-centered">
        <a class="bar__logo" href="/">GreenCare</a>
        <input type="checkbox" id="inpNavToggle">
        <label class="bar__nav-toggle" for="inpNavToggle">
            <i class="material-icons">menu</i>
        </label>
        <nav class="nav">
            <a class="nav__link" href="/">Startseite</a>
            <a class="nav__link__bundle" href="/bundles">Bundles</a>
            <% locals.bundles.forEach(bundle=> { %>
                <a class="nav__link__1" href="/bundles/<%= bundle.title %>"><%= bundle.title %></a>
            <% }) %>
            <a class="nav__link" href="/dashboard">Dashboard</a>
            <a class="nav__link__1" href="/dashboard/bundle">Mein Bundle</a>
        </nav>
    </div>
</div>
</header>