<div class="container">
    <%- include('dashheader') %> 
    <h1>Hi <%= locals.name %> </h1>
    <% if (leaveDisable==true) { %>
        <div class="alert alert-danger alert-dismissible fade show mt-4">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Fehler!</strong> Als admin kannst du das Bundle nicht verlassen.
        </div>
        <% } %>
        <% if (alredy==true) { %>
            <div class="alert alert-danger alert-dismissible fade show mt-4">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>Fehler!</strong> Du besitz bereits ein Bundle.
            </div>
            <% } %>
        <% if(locals.bundle) { %>
            <div class="card mx-5 my-3 px-4 py-4">
            <form action="/dashboard/bundle" method="GET">
                <button class="btn btn-success">Dein Bundle</button>
            </form>
            <form action="/dashboard/leave?_method=DELETE" method="POST">
                <button type="submit" class="btn btn-danger">Leave bundle</button>
            </form>
    </div>
            <% } else {%>
                <a href="/bundles">Kauf dir ein Bundle</a>
                <% } %>
</div>