<div class="container">
  <h1>Join a bundle</h1>
    <% if (messages.error) { %>
      <div class="alert alert-danger" role="alert">
    <%= messages.error %>
  </div>
    <% } %>
<form action="" method="POST">
  <div>
    <label for="email">Email</label>
    <input type="email" id="email" name="email" value="<%= mail %>" required>
  </div>
  <div>
    <label for="email">Token</label>
    <input type="number" id="token" name="token" required>
  </div>
  <button type="submit">Join</button>
</form>
</div>