:root {
    --bar-height: 72px;
    --color-primary: rgba(0, 255, 106, 0.5);
    --color-primary-light: rgba(0, 255, 0, 0.5);
    --color-primary-text: rgb(0, 89, 255);
}

body {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}

.hide {
    display: none;
}

.second {
    width: 100%;
    height: 1000px;
    background: #999;
}

.jumbotron {
    margin-bottom: 0px;
    border-radius: 0;
}

.bundleuser__list__admin {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.bundleuser__list:not(:last-of-type) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.bundle__view { 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cross-button {
    display: none;
}

.show-on-mobile {
    margin-bottom: 100;
}

.header {
    display: flex;
    align-items: center;
    padding-top: var(--bar-height);
    box-sizing: border-box;
}

.u-centered {
    width: 100%;
    max-width: 1200;
    margin: 0 auto;
    padding: 16px;
    box-sizing: border-box;
}

.background {
    background: linear-gradient(to bottom right, var(--color-primary), var(--color-primary-light));
}

.bar {
    background: linear-gradient(to bottom right, var(--color-primary), var(--color-primary-light));
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--bar-height);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    transition: background 0.15s;
}

.content {
    min-height: calc(100vh - 50px);
}

.footer {
    height: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    background: linear-gradient(to bottom right, var(--color-primary), var(--color-primary-light));
}

.bar--bg {
    background: var(--color-primary);
}

.bar__content {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bar__logo {
    height: 100%;
}

.bar__nav-toggle {
    margin-bottom: 0;
    cursor: pointer;
    height: 32px;
}

.bar__nav-toggle>i {
    color: white;
    font-size: 2em;
}

#inpNavToggle:checked~.nav {
    display: flex;
}

#inpNavToggle {
    display: none;
}

#inpBundle {
    display: none;
}

.nav {
    display: none;
    flex-direction: column;
    position: fixed;
    top: 64px;
    left: 0;
    width: 100%;
    height: calc(100vh - 24px);
    padding: 32px;
    background: #222222;
    box-sizing: border-box;
}

.nav__link {
    font-weight: 500;
    padding: 16px 0;
    text-decoration: none;
    color: #ffffff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.nav__link:hover, .nav__link__1:hover {
    text-decoration: none;
    color: #ffffff;
    opacity: 0.8;
}

.nav__link__bundle {
    font-weight: 500;
    padding: 16px 0;
    text-decoration: none;
    color: #ffffff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.nav__link__bundle:hover {
    text-decoration: none;
    color: #ffffff;
    opacity: 0.8;
}

.nav__link__1 {
    position: unset;
    margin-left: 2rem;
    font-weight: 500;
    padding: 16px 0;
    text-decoration: none;
    color: #ffffff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.card-list {
    list-style: none;
}

.card-list-div {
    display: flex;
    justify-content: center;
}

.card-list li {
    text-align: left;
    position: inherit;
}

.card-list-check:before {
    content: '✓ ';
}

.card-list-cross:before {
    content: '✗ ';
}

.card-title {
    color: black;
}

.card-text {
    color: var(--color-primary-text);
}

@media screen and (min-width: 767px) {
    .bar__nav-toggle {
        display: none;
    }
    .nav {
        display: initial;
        position: static;
        width: unset;
        height: unset;
        padding: unset;
        background: transparent;
    }
    .nav__link {
        border-bottom: none;
    }
    .nav__link:not(:last-of-type) {
        margin-right: 24px;
    }
    .nav__link__bundle {
        border-bottom: none;
        margin-right: 24px;
    }
    .nav__link__1 {
        display: none;
    }
    .cross-button {
        display: unset;
        height: 37px;
        width: 50px;
    }
    .show-on-mobile {
        display: none;
    }
}