<div class="container">
    <h2 class="text-center mt-3">Bundles</h2>
    <% bundles.forEach(bundle=> { %>
        <div class="card mt-4">
            <a class="btn btn-default" href="/bundles/<%= bundle.title %>">
                <div class="card-body">
                    <h4 class="card-title text-center text-decoration-none">
                        <%= bundle.title %>
                    </h4>
                    <div class="card-subtitle text-muted">
                        <%= bundle.description %>
                    </div>
                    <div class="card-text">
                        <%= bundle.price %>€ / monatlich
                    </div>
                </div>
            </a>
        </div>
    <% }) %>
</div>